@(student : models.Student , offers : List[models.Offer], requests : List[models.Request])

@main("Your books") {
    
    <!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Welcome, @student.getStudName()</a>
      <div class="navbar-content">
        <ul class="nav  pull-right">
          <li>
            <a href="#">Show Requests</a> 
          </li>
          <li>
            <a href="#">Show Offers</a> 
          </li>
          <li class="active">
            <a href="#">Your Books</a> 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Offer table -->
<div class="container">
  <h3 class="page-header">Your Offers</h3>
  <a id="makeOffer" class="btn action pull-right btn-info btn-small" href="@routes.Offer.create(student.getStudentId())">Make an Offer</a>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>Book</th>
        <th>Edition</th>
        <th>Offer Price</th>
        <th>Condition</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        @for(offer <- offers) {
             <tr>
             	<td>@offer.getOfferId()</td>
             	<td>@offer.getBook().getBookName()</td>
             	<td>@offer.getBook().getEdition()</td>
             	<td>$@offer.getOfferPrice()</td>
             	<td>@offer.getCondition()</td>
             	<td>
       				<div class="btn-group">
          			<a id="editOffer" class="btn action btn-primary" href="@routes.Offer.edit(offer.getPrimaryKey())">Edit</a>
          			<a id="deleteOffer" class="btn action btn-danger" href="@routes.Offer.destroy(offer.getPrimaryKey())">Delete</a>
       				</div>
     			</td>
     		</tr>
       }
    </tbody>
  </table>
</div>
<!-- Request table -->
<div class="container">
  <h3 class="page-header">Your Requests</h3>
  <a id="makeRequest" class="btn action pull-right btn-info btn-small" href="@routes.Request.create(student.getStudentId())">Make a Request</a>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>Book</th>
        <th>Edition</th>
        <th>Request Price</th>
        <th>Condition</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       @for(request <- requests) {
             <tr>
             	<td>@request.getRequestId()</td>
             	<td>@request.getBook().getBookName()</td>
             	<td>@request.getBook().getEdition()</td>
             	<td>$@request.getRequestPrice()</td>
             	<td>@request.getCondition()</td>
             	<td>
       				<div class="btn-group">
          			<a id="editRequest" class="btn action btn-primary" href="@routes.Request.edit(request.getPrimaryKey())">Edit</a>
          			<a id="deleteRequest" class="btn action btn-danger" href="@routes.Request.destroy(request.getPrimaryKey())">Delete</a>
       				</div>
     			</td>
     		</tr>
       }
    </tbody>
  </table>
</div>
    
}
