@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    	<title>@title</title>
        	<link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))">
    		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    		<link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700%7CDroid+Sans+Mono%7CDroid+Serif%7CNoto+Sans"
			rel="stylesheet" type="text/css">
    		
    </head>
    <body>
        @content
    </body>
</html>
